@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

#app {
  font-family: "Roboto Mono", monospace;
  display: grid;
  grid-template-columns: auto 1fr;
}

body {
  margin: 0;
}

header {
  background-color: #e0e0e0;
  padding: 10px 20px;
}

#history {
  width: 150px;
}

#timer {
  font-size: 80px;
  padding: 80px;
}

.counting-down {
  color: #aaa;
}
